@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--background);
  color: var(--foreground);
}

:root {
  --background: #f2f0e9;
  --foreground: #4b4b4b;
  --primary: #5a8b7d;
  --input: #f2f0e9;
}
